@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
  --mixin-BrgWUl0UoRaFy_font-family: "Inter", sans-serif;
  --mixin-BrgWUl0UoRaFy_font-size: 16px;
  --mixin-BrgWUl0UoRaFy_font-weight: 400;
  --mixin-BrgWUl0UoRaFy_font-style: normal;
  --mixin-BrgWUl0UoRaFy_color: #535353;
  --mixin-BrgWUl0UoRaFy_text-align: left;
  --mixin-BrgWUl0UoRaFy_text-transform: none;
  --mixin-BrgWUl0UoRaFy_line-height: 1.5;
  --mixin-BrgWUl0UoRaFy_letter-spacing: normal;
  --mixin-BrgWUl0UoRaFy_white-space: pre-wrap;
  --mixin-BrgWUl0UoRaFy_user-select: text;
  --mixin-BrgWUl0UoRaFy_text-decoration-line: none;
  --mixin-BrgWUl0UoRaFy_text-overflow: clip;
  --mixin-AWTFzvrZC-BT-_color: #000000;
  --mixin-AWTFzvrZC-BT-_font-weight: 700;
  --mixin-AWTFzvrZC-BT-_font-size: 64px;
  --mixin-AWTFzvrZC-BT-_line-height: 1;
  --mixin-AWTFzvrZC-BT-_letter-spacing: -1px;
  --mixin-AWTFzvrZC-BT-_white-space: pre-wrap;
  --mixin-I3g6ge7Vh3hk9_color: #000000;
  --mixin-I3g6ge7Vh3hk9_font-size: 48px;
  --mixin-I3g6ge7Vh3hk9_font-weight: 700;
  --mixin-I3g6ge7Vh3hk9_letter-spacing: -0.5px;
  --mixin-I3g6ge7Vh3hk9_line-height: 1.1;
  --mixin-I3g6ge7Vh3hk9_white-space: pre-wrap;
  --mixin-xRIXTcNJm9Wuz_color: #0070f3;
  --mixin-xRIXTcNJm9Wuz_white-space: pre-wrap;
  --mixin-9j6MGFaSq6Bqz_color: #000000;
  --mixin-9j6MGFaSq6Bqz_font-size: 32px;
  --mixin-9j6MGFaSq6Bqz_font-weight: 600;
  --mixin-9j6MGFaSq6Bqz_line-height: 1.2;
  --mixin-9j6MGFaSq6Bqz_white-space: pre-wrap;
  --mixin-l9F2XbXY7Jep7_color: #000000;
  --mixin-l9F2XbXY7Jep7_font-size: 24px;
  --mixin-l9F2XbXY7Jep7_font-weight: 600;
  --mixin-l9F2XbXY7Jep7_line-height: 1.3;
  --mixin-l9F2XbXY7Jep7_white-space: pre-wrap;
  --mixin-OaCwAv_Q1dwRM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-OaCwAv_Q1dwRM_border-bottom-color: #dddddd;
  --mixin-OaCwAv_Q1dwRM_border-bottom-style: solid;
  --mixin-OaCwAv_Q1dwRM_border-bottom-width: 1px;
  --mixin-OaCwAv_Q1dwRM_border-left-color: #dddddd;
  --mixin-OaCwAv_Q1dwRM_border-left-style: solid;
  --mixin-OaCwAv_Q1dwRM_border-left-width: 1px;
  --mixin-OaCwAv_Q1dwRM_border-right-color: #dddddd;
  --mixin-OaCwAv_Q1dwRM_border-right-style: solid;
  --mixin-OaCwAv_Q1dwRM_border-right-width: 1px;
  --mixin-OaCwAv_Q1dwRM_border-top-color: #dddddd;
  --mixin-OaCwAv_Q1dwRM_border-top-style: solid;
  --mixin-OaCwAv_Q1dwRM_border-top-width: 1px;
  --mixin-OaCwAv_Q1dwRM_border-bottom-left-radius: 3px;
  --mixin-OaCwAv_Q1dwRM_border-bottom-right-radius: 3px;
  --mixin-OaCwAv_Q1dwRM_border-top-left-radius: 3px;
  --mixin-OaCwAv_Q1dwRM_border-top-right-radius: 3px;
  --mixin-OaCwAv_Q1dwRM_font-family: "Inconsolata";
  --mixin-OaCwAv_Q1dwRM_padding-bottom: 1px;
  --mixin-OaCwAv_Q1dwRM_padding-left: 4px;
  --mixin-OaCwAv_Q1dwRM_padding-right: 4px;
  --mixin-OaCwAv_Q1dwRM_padding-top: 1px;
  --mixin-OaCwAv_Q1dwRM_white-space: pre-wrap;
  --mixin-rQHkdjjao-HdY_border-left-color: #dddddd;
  --mixin-rQHkdjjao-HdY_border-left-style: solid;
  --mixin-rQHkdjjao-HdY_border-left-width: 3px;
  --mixin-rQHkdjjao-HdY_color: #888888;
  --mixin-rQHkdjjao-HdY_padding-left: 10px;
  --mixin-rQHkdjjao-HdY_white-space: pre-wrap;
  --mixin-0Gm1urqpqCPp0_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0Gm1urqpqCPp0_border-bottom-color: #dddddd;
  --mixin-0Gm1urqpqCPp0_border-bottom-style: solid;
  --mixin-0Gm1urqpqCPp0_border-bottom-width: 1px;
  --mixin-0Gm1urqpqCPp0_border-left-color: #dddddd;
  --mixin-0Gm1urqpqCPp0_border-left-style: solid;
  --mixin-0Gm1urqpqCPp0_border-left-width: 1px;
  --mixin-0Gm1urqpqCPp0_border-right-color: #dddddd;
  --mixin-0Gm1urqpqCPp0_border-right-style: solid;
  --mixin-0Gm1urqpqCPp0_border-right-width: 1px;
  --mixin-0Gm1urqpqCPp0_border-top-color: #dddddd;
  --mixin-0Gm1urqpqCPp0_border-top-style: solid;
  --mixin-0Gm1urqpqCPp0_border-top-width: 1px;
  --mixin-0Gm1urqpqCPp0_border-bottom-left-radius: 3px;
  --mixin-0Gm1urqpqCPp0_border-bottom-right-radius: 3px;
  --mixin-0Gm1urqpqCPp0_border-top-left-radius: 3px;
  --mixin-0Gm1urqpqCPp0_border-top-right-radius: 3px;
  --mixin-0Gm1urqpqCPp0_font-family: "Inconsolata";
  --mixin-0Gm1urqpqCPp0_padding-bottom: 3px;
  --mixin-0Gm1urqpqCPp0_padding-left: 6px;
  --mixin-0Gm1urqpqCPp0_padding-right: 6px;
  --mixin-0Gm1urqpqCPp0_padding-top: 3px;
  --mixin-0Gm1urqpqCPp0_white-space: pre-wrap;
  --mixin-roW60PzQFJ-S-_display: flex;
  --mixin-roW60PzQFJ-S-_flex-direction: column;
  --mixin-roW60PzQFJ-S-_align-items: stretch;
  --mixin-roW60PzQFJ-S-_justify-content: flex-start;
  --mixin-roW60PzQFJ-S-_list-style-position: outside;
  --mixin-roW60PzQFJ-S-_padding-left: 40px;
  --mixin-roW60PzQFJ-S-_position: relative;
  --mixin-roW60PzQFJ-S-_list-style-type: disc;
  --mixin-roW60PzQFJ-S-_white-space: pre-wrap;
  --mixin-xC4moO1fk4iZL_display: flex;
  --mixin-xC4moO1fk4iZL_flex-direction: column;
  --mixin-xC4moO1fk4iZL_align-items: stretch;
  --mixin-xC4moO1fk4iZL_justify-content: flex-start;
  --mixin-xC4moO1fk4iZL_list-style-position: outside;
  --mixin-xC4moO1fk4iZL_padding-left: 40px;
  --mixin-xC4moO1fk4iZL_position: relative;
  --mixin-xC4moO1fk4iZL_list-style-type: decimal;
  --mixin-xC4moO1fk4iZL_white-space: pre-wrap;
  --mixin-8Il_dJWBSTrTP_color: #000000;
  --mixin-8Il_dJWBSTrTP_font-size: 20px;
  --mixin-8Il_dJWBSTrTP_font-weight: 600;
  --mixin-8Il_dJWBSTrTP_line-height: 1.5;
  --mixin-8Il_dJWBSTrTP_white-space: pre-wrap;
  --mixin-KMxoztQf_u5W6_color: #000000;
  --mixin-KMxoztQf_u5W6_font-size: 16px;
  --mixin-KMxoztQf_u5W6_font-weight: 600;
  --mixin-KMxoztQf_u5W6_line-height: 1.5;
  --mixin-KMxoztQf_u5W6_white-space: pre-wrap;
  --mixin-Ski92t6FP4sGC_color: #3291ff;
  --mixin-Ski92t6FP4sGC_white-space: pre-wrap;
  --mixin-z9Kq7fFmV07Lh_white-space: pre-wrap;
  --mixin-fgehwlBKOxs7-_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_default_styles,
  .plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
    --mixin-AWTFzvrZC-BT-_font-size: 48px;
    --mixin-AWTFzvrZC-BT-_white-space: pre-wrap;
  }
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-BrgWUl0UoRaFy_font-family);
  font-size: var(--mixin-BrgWUl0UoRaFy_font-size);
  font-weight: var(--mixin-BrgWUl0UoRaFy_font-weight);
  font-style: var(--mixin-BrgWUl0UoRaFy_font-style);
  color: var(--mixin-BrgWUl0UoRaFy_color);
  text-align: var(--mixin-BrgWUl0UoRaFy_text-align);
  text-transform: var(--mixin-BrgWUl0UoRaFy_text-transform);
  line-height: var(--mixin-BrgWUl0UoRaFy_line-height);
  letter-spacing: var(--mixin-BrgWUl0UoRaFy_letter-spacing);
  white-space: var(--mixin-BrgWUl0UoRaFy_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-AWTFzvrZC-BT-_color);
  font-weight: var(--mixin-AWTFzvrZC-BT-_font-weight);
  font-size: var(--mixin-AWTFzvrZC-BT-_font-size);
  line-height: var(--mixin-AWTFzvrZC-BT-_line-height);
  letter-spacing: var(--mixin-AWTFzvrZC-BT-_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-I3g6ge7Vh3hk9_color);
  font-size: var(--mixin-I3g6ge7Vh3hk9_font-size);
  font-weight: var(--mixin-I3g6ge7Vh3hk9_font-weight);
  letter-spacing: var(--mixin-I3g6ge7Vh3hk9_letter-spacing);
  line-height: var(--mixin-I3g6ge7Vh3hk9_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-xRIXTcNJm9Wuz_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-9j6MGFaSq6Bqz_color);
  font-size: var(--mixin-9j6MGFaSq6Bqz_font-size);
  font-weight: var(--mixin-9j6MGFaSq6Bqz_font-weight);
  line-height: var(--mixin-9j6MGFaSq6Bqz_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-l9F2XbXY7Jep7_color);
  font-size: var(--mixin-l9F2XbXY7Jep7_font-size);
  font-weight: var(--mixin-l9F2XbXY7Jep7_font-weight);
  line-height: var(--mixin-l9F2XbXY7Jep7_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-OaCwAv_Q1dwRM_font-family);
  border-radius: var(--mixin-OaCwAv_Q1dwRM_border-top-left-radius)
    var(--mixin-OaCwAv_Q1dwRM_border-top-right-radius)
    var(--mixin-OaCwAv_Q1dwRM_border-bottom-right-radius)
    var(--mixin-OaCwAv_Q1dwRM_border-bottom-left-radius);
  padding: var(--mixin-OaCwAv_Q1dwRM_padding-top)
    var(--mixin-OaCwAv_Q1dwRM_padding-right)
    var(--mixin-OaCwAv_Q1dwRM_padding-bottom)
    var(--mixin-OaCwAv_Q1dwRM_padding-left);
  border-top: var(--mixin-OaCwAv_Q1dwRM_border-top-width)
    var(--mixin-OaCwAv_Q1dwRM_border-top-style)
    var(--mixin-OaCwAv_Q1dwRM_border-top-color);
  border-right: var(--mixin-OaCwAv_Q1dwRM_border-right-width)
    var(--mixin-OaCwAv_Q1dwRM_border-right-style)
    var(--mixin-OaCwAv_Q1dwRM_border-right-color);
  border-bottom: var(--mixin-OaCwAv_Q1dwRM_border-bottom-width)
    var(--mixin-OaCwAv_Q1dwRM_border-bottom-style)
    var(--mixin-OaCwAv_Q1dwRM_border-bottom-color);
  border-left: var(--mixin-OaCwAv_Q1dwRM_border-left-width)
    var(--mixin-OaCwAv_Q1dwRM_border-left-style)
    var(--mixin-OaCwAv_Q1dwRM_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-rQHkdjjao-HdY_color);
  padding-left: var(--mixin-rQHkdjjao-HdY_padding-left);
  border-left: var(--mixin-rQHkdjjao-HdY_border-left-width)
    var(--mixin-rQHkdjjao-HdY_border-left-style)
    var(--mixin-rQHkdjjao-HdY_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-0Gm1urqpqCPp0_font-family);
  border-radius: var(--mixin-0Gm1urqpqCPp0_border-top-left-radius)
    var(--mixin-0Gm1urqpqCPp0_border-top-right-radius)
    var(--mixin-0Gm1urqpqCPp0_border-bottom-right-radius)
    var(--mixin-0Gm1urqpqCPp0_border-bottom-left-radius);
  padding: var(--mixin-0Gm1urqpqCPp0_padding-top)
    var(--mixin-0Gm1urqpqCPp0_padding-right)
    var(--mixin-0Gm1urqpqCPp0_padding-bottom)
    var(--mixin-0Gm1urqpqCPp0_padding-left);
  border-top: var(--mixin-0Gm1urqpqCPp0_border-top-width)
    var(--mixin-0Gm1urqpqCPp0_border-top-style)
    var(--mixin-0Gm1urqpqCPp0_border-top-color);
  border-right: var(--mixin-0Gm1urqpqCPp0_border-right-width)
    var(--mixin-0Gm1urqpqCPp0_border-right-style)
    var(--mixin-0Gm1urqpqCPp0_border-right-color);
  border-bottom: var(--mixin-0Gm1urqpqCPp0_border-bottom-width)
    var(--mixin-0Gm1urqpqCPp0_border-bottom-style)
    var(--mixin-0Gm1urqpqCPp0_border-bottom-color);
  border-left: var(--mixin-0Gm1urqpqCPp0_border-left-width)
    var(--mixin-0Gm1urqpqCPp0_border-left-style)
    var(--mixin-0Gm1urqpqCPp0_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-roW60PzQFJ-S-_display);
  flex-direction: var(--mixin-roW60PzQFJ-S-_flex-direction);
  align-items: var(--mixin-roW60PzQFJ-S-_align-items);
  justify-content: var(--mixin-roW60PzQFJ-S-_justify-content);
  list-style-position: var(--mixin-roW60PzQFJ-S-_list-style-position);
  padding-left: var(--mixin-roW60PzQFJ-S-_padding-left);
  position: var(--mixin-roW60PzQFJ-S-_position);
  list-style-type: var(--mixin-roW60PzQFJ-S-_list-style-type);
  flex-column-gap: var(--mixin-roW60PzQFJ-S-_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-xC4moO1fk4iZL_display);
  flex-direction: var(--mixin-xC4moO1fk4iZL_flex-direction);
  align-items: var(--mixin-xC4moO1fk4iZL_align-items);
  justify-content: var(--mixin-xC4moO1fk4iZL_justify-content);
  list-style-position: var(--mixin-xC4moO1fk4iZL_list-style-position);
  padding-left: var(--mixin-xC4moO1fk4iZL_padding-left);
  position: var(--mixin-xC4moO1fk4iZL_position);
  list-style-type: var(--mixin-xC4moO1fk4iZL_list-style-type);
  flex-column-gap: var(--mixin-xC4moO1fk4iZL_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-8Il_dJWBSTrTP_color);
  font-size: var(--mixin-8Il_dJWBSTrTP_font-size);
  font-weight: var(--mixin-8Il_dJWBSTrTP_font-weight);
  line-height: var(--mixin-8Il_dJWBSTrTP_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-KMxoztQf_u5W6_color);
  font-size: var(--mixin-KMxoztQf_u5W6_font-size);
  font-weight: var(--mixin-KMxoztQf_u5W6_font-weight);
  line-height: var(--mixin-KMxoztQf_u5W6_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Ski92t6FP4sGC_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
